{% include 'editorial/head_navbar.html' %}

<section class="middle_part">

<section class="profil_space">

{% for offer in offer_list %}
<h3 class="standard-title">Liste d'offres pour l'objet {{ offer.design_id }}</h3>
<h3>
{{ offer.user_id }} propose cet objet pour {{ offer.price }} € et {{ offer.carriage_price }} € de transport. <a href="{% url 'email_user' offer.user_id.id%}">Contacter {{ offer.user_id }}</a>
  </h3>

{% endfor %}

</section>

</section>

{% include 'editorial/footer.html' %}
