
        <section class="middle_part">
          {% if user.is_authenticated %}
          <section class="user_space">

            <h3 class="standard-title">
            Bonjour {{ request.user}}
            </h3>

              <a href="{% url 'upload_design' %}">
            <div class="button button1">
                <span>Proposer un design</span>
            </div>
            </a>

            <a href="{% url 'my_design' %}">
            <div class="button button1">
                <span>Voir mes designs</span>
            </div>
            </a>

            <a href="{% url 'my_offers' %}">
            <div class="button button1">
                <span>Voir mes propositions</span>
            </div>
            </a>

            <a href="{% url 'messages' %}">
            <div class="button button1">
                <span>Voir mes messages</span>
            </div>
            </a>

            <a href="{% url 'personal_datas' %}">
            <div class="button button1">
                <span>Modifier mon profil</span>
            </div>
            </a>

            </section>
          {% else %}

          <div class="wtitting">

              <h1 class="main_title">
                 Bienvenue sur TEC ET ART
              </h1>
              <h2 class="main_subtitle">
                Design, amélioration, réalisation, partage.
              </h2>
              </div>



        </section>


        <section class="second_part">



          <div class="presentation-box">
            <div>
            <h1>
              Télécharger des plans
            </h1>
            </div>
            <div>
            <h3>
              Toute une blibliothèque de plans est disponible!
            </h3>
            </div>
            <div class=picture-box1>
              <img src="/static/assets/hen_plan_2D.jpeg" alt="An hen 2D plan" height="300">
            </div>

          </div>

          <div class="presentation-box">
            <div>
            <h1>
              Réaliser des objets
            </h1>
            </div>
            <div>
            <h3>
              A partir des plans réalisez les objets!
            </h3>
            </div>

          <div class=picture-box2>
            <img src="/static/assets/hen_assembling.jpeg" alt="hen assembling" height="300">
          </div>
          </div>

          <div class="presentation-box">
            <div>
            <h1>
              Designer
            </h1>
            </div>
            <div>
            <h3>
              A partir des maquettes 3D créez des nouveaux design!
            </h3>
            </div>

          <div class=picture-box3>
            <img src="/static/assets/3D_plan.png" alt="A screenshot of hen 3D" height="300">
          </div>
          </div>

          <div class="presentation-box">
            <div>
            <h1>
              Partager
            </h1>
            </div>

            <div>
            <h3>
              Partagez vos concepts!
            </h3>
            </div>
            <div class=picture-box2>
              <img src="/static/assets/share3D.jpeg" alt="The share symbol" height="300">
            </div>
          </div>
        {% endif %}

        </section>
