<section class="edito_section">
  <aside class="titles-articles">

    <div class="title-article">
      <h3 class="standard-title"><a href="#ancre_tea_intro">TEC ET ART</a></h3>
      <h3 class="standard-title"><a href="#ancre_100years">Réparabilité et durabilité</a></h3>
      <h3 class="standard-title"><a href="#ancre_tools">Les outils de conception</a></h3>

    </div>

  </aside>

  <div class="articles_presentation">
    <h3 id="ancre_tea_intro" class="standard-title">
    TEC ET ART
    </h3>
    <article class="standard-article">
      Le projet TEC ET ART a pour but l'échange et le partage d'idées et de réalisations d'objet.
      Ce projet étant très ouvert, vous n'avez pas besoin de vous inscrire pour télécharger des plans.
      Vous pouvez donc faire une simple recherche et télécharger les plans de votre choix.
      <br>
      <br>
      Ce site permet également de mettre en relation des designer, fabricants et des acheteurs potentiels.

    </article>

    <h3 id="ancre_100years" class="standard-title">
      Réparabilité et durabilité. Un objet pour 100 ans!
    </h3>
    <article class="standard-article">
      Le projet TEC ET ART s'inscrit dans une démarche citoyenne.
      C'est pourquoi nous privilégions l'usage de matériaux nobles et durable.
      Les objets doivent être conçus pour être réparés. Les pièces doivent pouvoir être refabriquées facilement à partir des plans.
    </article>
    <br>

    <h3  id="ancre_tools"class="standard-title">
      Les outils de conception
    </h3>
    <article class="standard-article">
      Le design des objets doit être accessible et modifiable par le plus grand nombre.
      C'est pourquoi nous privilégions l'utilisation de logiciels libres de droit. Les
      outils que nous recommandons pour la conception sont Freecad et Blender.
      Bien sûr ces choix ne sont pas fermé à d'autres solutions.
      <ul>
        <li>FreeCAD est un logiciel libre et open source, de CAO 3D paramétrique.</li>
        <a href="https://www.freecadweb.org/"><img src="/static/assets/logo_freecad.png" alt="Freecad logo" height="150"></a>
        <li>Blender. Blender est un logiciel libre de modélisation, d’animation par ordinateur et de rendu en 3D</li>
        <a href="https://www.blender.org/"><img src="/static/assets/logo_blender.png" alt="Blender logo" height="150"></a>
      <ul>
    </article>
    <br>
  </div>

</section>
